body {
    background-image: url("/img/frutas_mesa.png"); /* Imagem de fundo */
    background-repeat: no-repeat; /* Para a imagem de fundo não repetir */
    background-size: cover; /* Para a imagem cobrir todo o fundo */
    padding: 0; /* Zera o espaço entre borda e conteúdo */
    margin: 0; /* Zera o espaço entre a borda e o elemento pai */
}

/* Filtro que fica em cima do background  */
.filtro-fundo{
    background-color: rgba(145, 32, 77, 0.5); /* Coloca cor de fundo */
}

/* Cabeçalho */
.cabecalho {
    display: flex; /* Permite o uso do Flexbox */
    justify-content: space-between; /* Coloca todo o espaço entre o logo e o menu */
    width: 90%; /* Deixa o cabeçalho com 90% de largura em relação a janela */
    margin: auto; /* Ajusta a margin automaticamente */
    /* height: 25%; */
    background-color: rgba(44, 22, 28, 0.8); /* Cor de fundo do cabeçalho */
    border-radius: 25px; /* Arredonda a borda */
}
.cabecalho a {
    margin: 10px 25px 10px; /* Ajusta os margins dos a */
}

#logo {
    width: 180px; /* Tamanho da logo */
    border-radius: 20px; /* Arredonda a borda do logo */
    margin-top: auto;
    margin-bottom: auto;
}

/* Menu dropdown */
.menu {
    width: 100px; /* Largura do fundo do menu */
    height: 90px; /* Altura do fundo do menu */
    /* padding: auto; */
    margin-top: auto; /* Ajusta margin de cima */
    margin-bottom: auto; /* Ajusta o margin de baixo */
    border-radius: 20px; /* Arredonda a borda */
    margin-right: 25px; /* Ajusta a margin direita */
    background-color: #a4566b; /* Cor de fundo do logo */
    position: relative; /* Permite o uso de absolute no elemento filho */
    background-image: url("/img/menu.png"); /* Imagem três risquinhos */
}

.menu:hover ul { /* :hover é quando passa o mouse em cima */
    position: absolute; /* Desloca do fluxo e deixa em cima de tudo */
    right: 0; /* Coloca a zero pixels da direita em relação ao elemento pai */
    top: 90px; /* COloca zero pixels do topo em relação ao elemento pai */
    display: block; /* Faz aparecer */
    text-align: end; /* Alinha o texto no final */
}

 .menu ul {
    position: absolute; /*  */
    display: none; /* Faz desaparecer */
    margin-top: 0; 
    background-color: #7c4554;
    border-radius: 25px;
    width: 250px;
    height: 500px;
    list-style-type: none;
    padding: 5px 20px;
}

.menu ul a li {
    margin-top: 5px;
    color: white;
    width: 100%;
}

.menu ul a {
    text-decoration: none;
}

/* Fundo do conteúdo principal */
.fundo-conteudo {
    background-color: rgba(59, 45, 56, 0.5);
    width: 90%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border-radius: 25px;
    display: flex;
    padding-bottom: 30px;
    justify-content: space-around;
    box-sizing: border-box;
}

/* Texto do conteúdo principal */
#parte-texto p {
    color: white;
    text-shadow: 1px 1px 1px 1px black;
    text-align: center;
    font-size: 18px;
}

#parte-texto h2 {
    color: white;
    text-shadow: 1px 1px 1px 1px black;
    text-align: center;
    font-size: 30px;
}

#parte-texto {
    width: 40%;
    padding-top: 40px;
}

/* Imagem do conteúdo principal */
#foto {
    width: 200px;
    height: 200px;
    margin-top: 55px;
    border-radius: 25px 25px;
}

/* Rodapé */
footer {
    background-color: rgba(44, 22, 28, 1);
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    text-align: center;
    color: white;
    font-size: 22px;
}