*{
    margin: 0;
    padding: 0;
}

body{
    background: url(/img/transparencia1.png);
    
}


a img{
    border-radius: 10px;
}

header{
    background-color: #2C161C;
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

ul{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}


.acima{
    display: flex;
    justify-content: space-between;
    align-items: center;

}




:root{
    --cor-fundo : #2C161C;
    --cor-hover : #A4566B;
    --cor-primaria : #FFF6FD;
}



.dp-menu ul{
    list-style-type: none;
    padding: 0;
}

.dp-menu ul{
    background-color: var(--cor-fundo);
}

.dp-menu ul li{
    display: inline-block;
    position: relative;
}

.dp-menu ul li a {
    color: var(--cor-primaria);
    text-decoration: none;
    padding: 10px;
}

.dp-menu ul li a:hover{
    background-color: var(--cor-hover);
}

.dp-menu ul ul {
    display: none;
    left: 0;
    position: absolute;
}

.dp-menu ul li:hover ul {
    display: block;
}

.dp-menu ul ul {
    position: absolute;
}

.dp-menu ul ul li a {
    display: block;
}

.imagens{
    width: 60%;
    margin: auto;
    display: block;
    border-radius: 10px;
    background-color: #3b2d387a;
    padding-right: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 70px; 
}

.fila-1{
    display: flex;
    width: 350px;
    gap: 30px;
    
    
}

.fila-2{
    display: flex;
    width: 350px;
    gap: 30px;
    margin-top: 20px;
}

.fila-3{
    display: flex;
    width: 350px;
    gap: 30px;
    margin-top: 20px;
}

img{
    border-radius: 10px;
}

main{
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
    
}

footer{
    margin: 20px;
    display: block;
    color: #FFF6FD;
    background-color: #2C161C;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Simonetta', cursive;
    font-size: 20px;
}