html{
  background-color: #4d162d;
}

body{
  background-image: url(img/cadeira_na_varanda1.png) ; background-repeat: no-repeat ; background-position: center ;
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

header{
  padding: 0px 10px 20px;
  display: flex;
  background-color: #6904a3;

  	/*definimos a largura do box*/
	width: auto;
	/* definimos a altura do box */
	height:50px;
	/* definimos a cor de fundo do box */
	background-color:#2c161c;
	/* definimos o quão arredondado irá ficar nosso box */
	border-radius: 20px 20px;
}

  footer{
    font-size: 20px;
    color red;
    padding: 0px 10px 20px;
    display: flex;
    width: auto;
    height:50px;
    background-color:#2c161c;
    border-radius: 20px 20px;
    
  }
  .branco{
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 7
  }